@import "tailwindcss/base";
@tailwind utilities;

html {
  font-size: calc(16 / 1440 * 100vw);
  scroll-behavior: smooth;
  scroll-padding-top: 80px;
  @media (min-width: 1440px) {
    font-size: 16px;
  }
  @media (max-width: 768px) {
    font-size: calc(16 / 402 * 100vw);
  }
}

body {
  background-color: #ffffff;
}
